.square {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 3rem;
    font-weight: bold;
}

.game {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.playing-field {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.square-1 {
    border-top: none;
    border-left: none;
}

.square-2 {
    border-top: none;
}

.square-3 {
    border-top: none;
    border-right: none;
}

.square-4 {
    border-left: none;
}

.square-6 {
    border-right: none;
}

.square-7 {
    border-bottom: none;
    border-left: none;
}

.square-8 {
    border-bottom: none;
}

.square-9 {
    border-bottom: none;
    border-right: none;
}

.status {
    margin-bottom: 25px;
    font-size: 4em;
    font-weight: bold;
    border: 5px solid;
    padding: 10px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.player-1 {
    background-color: #3498db;
    color: white;
}

.player-2 {
    background-color: #e74c3c;
    color: white;
}

.restart-button {
    background-color: rgba(125, 249, 255, .8);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.revert-button {
    background-color: rgba(125, 249, 255, .8);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.colormode-button{
    background-color: rgba(125, 249, 255, .8);
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.footer {
    justify-content: flex-end;
    align-items: flex-end;
}